[submodule "thirdparty/freetype"]
	path = Isker/thirdparty/freetype
	url = https://github.com/freetype/freetype
[submodule "thirdparty/glm"]
	path = Isker/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/box2d"]
	path = Isker/thirdparty/box2d
	url = https://github.com/erincatto/box2d
[submodule "thirdparty/entt"]
	path = Isker/thirdparty/entt
	url = https://github.com/skypjack/entt
